<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Parma Marketing</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vendor/modernizr.custom.js"></script>
    <script src="js/vendor/feather.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="page page-post">
        <header class="header container-fluid" id="header">
            <div class="container">
                <nav class="navbar navbar-expand-sm navbar-light">
                    <div class="navbar-brand">
                        <a href="#"><img src="img/logo.png" alt=""></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="header__main">
                        <div class="header__search">
                            <img class="header__search__item" src="img/youtube.png" alt="">
                            <img class="header__search__item" src="img/FB.png" alt="">
                            <form action="" class="header__search__item header__search__item__form">
                                <input type="text" name="search" id="">
                            </form>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto header__nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">TRANG CHỦ <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">GIẢI PHÁP MARKETING</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">KIẾN THỨC</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">BÁO CÁO INSIGHTS </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">CASE STUDY</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">LIÊN HỆ</a>
                                </li>
                            </ul>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                    aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </nav>
                <div class="title__contact">
                    <p>BÁO CÁO INSIGHTS</p>
                </div>
                <div class="img__top__wapper">
                    <img class="img__top__report" src="img/report-top.png" alt="Top Element">
                </div>
            </div>
        </header>
        <div class="page-main page-main-post bg-categoty container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="post-title">
                            COVID -19: Phân tích người dùng trước, trong và sau giãn cách xã hội
                        </div>
                        <div class="share-fb">
                            <img src="img/chia-se-fb.png" alt="">
                            <img src="img/like-fb.png" alt="">
                            <img src="img/luu-vao-fb.png" alt="">
                        </div>
                        <hr class="line-dot">
                        <div class="content-post">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of
                                the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                                dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy
                                text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the
                                printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem
                                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy text.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                            <div>
                                <img src="img/post-img.png" alt="">
                            </div>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the
                                printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem
                                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
                                simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.
                            </p>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the
                                printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem
                                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
                                simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of
                                the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                                dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy
                                text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the
                                printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the
                                printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem
                                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
                                simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.
                            </p>
                        </div>
                        <hr class="line-dot">
                        <div class="share-fb">
                            <img src="img/chia-se-fb.png" alt="">
                            <img src="img/like-fb.png" alt="">
                            <img src="img/luu-vao-fb.png" alt="">
                        </div>
                        <hr class="line-dot">
                        <div class="post-relate">
                            <div class="post-relate-title">Bài viết cùng chuyên mục</div>
                            <ul>
                                <li>
                                    <a href="#">"Cách mạng giải trí" cho người khuyết tật</a>
                                </li>
                                <li>
                                    <a href="#">Cùng Điểm 10 - Vui tựu trường, Sẵn sàng học tốt</a>
                                </li>
                                <li>
                                    <a href="#">5S trong xây dựng thương hiệu vượt ra ngoài yếu tố sản phẩm</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="banner">
                            <img src="img/banner-300x600.png" alt="">
                        </div>
                        <div class="subcribe">
                            <div class="title-mail">Đăng ký nhận mail</div>
                            <div class="mail-subc-logo"><img src="img/email.png" alt=""></div>
                            <form action="">
                                <div class="input-group">
                                    <input type="email" class="form-control" placeholder="Your Email">
                                    <!-- <div class="input-group-append">
                                        <a class="btn btn-outline-secondary" href="#"><img src="img/semd.png" alt=""></a>
                                      </div> -->
                                </div>
                            </form>
                        </div>
                        <div class="tinlienquan">
                            <div class="tinlienquan-title">TIN LIÊN QUAN</div>
                            <a href="#">
                                <div class="box-img">
                                  <img src="img/img-tin-lien-quan.png" />
                                </div>
                                <div class="box-text">
                                  <h6>Từ sự kiện An Nguy – Cát Phượng – Kiều Minh Tuấn: Quản lý khủng hoảng thế nào...</h6>
                                </div>
                                
                              </a>
                              <a href="#">
                                <div class="box-img">
                                  <img src="img/img-tin-lien-quan.png" />
                                </div>
                                <div class="box-text">
                                  <h6>Từ sự kiện An Nguy – Cát Phượng – Kiều Minh Tuấn: Quản lý khủng hoảng thế nào...</h6>
                                </div>
                                
                              </a>
                              <a href="#">
                                <div class="box-img">
                                  <img src="img/img-tin-lien-quan.png" />
                                </div>
                                <div class="box-text">
                                  <h6>Từ sự kiện An Nguy – Cát Phượng – Kiều Minh Tuấn: Quản lý khủng hoảng thế nào...</h6>
                                </div>
                                
                              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer container-fluid" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-5  footer__contact">
                        <div class="footer__logo">
                            <img src="img/logo2.png" alt="logo">
                        </div>
                        <h7>Our Solutions - Your Success</h7>
                        <ul class="footer__contact__detail">
                            <li class="footer__contact__detail__add">Tầng 20, Center Building Hapulico Complex, Số 1
                                Nguyễn Huy Tưởng, Thanh Xuân, Hà Nội</li>
                            <li class="footer__contact__detail__email">Email: Parmaketing@admicro.vn</li>
                            <li class="footer__contact__detail__phone">Hotline: 0983134234</li>
                        </ul>
                        <div class="footer__contact__icon">
                            <img src="img/FB.png" alt="Facebook">
                            <img src="img/youtube.png" alt="Youtube">
                            <img src="img/skype.png" alt="Skype">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 footer__category">
                        <h4 class="footer__category__title">Danh mục</h4>
                        <ul class="footer__category__item">
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">Giải pháp marketing</a></li>
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">Kiến thức</a></li>
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">Báo cáo Insights</a></li>
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">Case Study</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4 footer__face">
                        <h4>Chúng tôi trên Facebook</h4>
                        <div>
                            <img src="img/popup fb.png" alt="Facebook">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/vendor/swiper.min.js"></script>
    <script src="js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="js/vendor/photoswipe.min.js"></script>
    <script src="js/vendor/photoswipe-ui-default.min.js"></script>
    <script src="js/vendor/jquery.inputmask.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>