<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Parma Marketing</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vendor/modernizr.custom.js"></script>
    <script src="js/vendor/feather.min.js"></script>
</head>

<body>
    <div class="page page-contact">
        <header class="header container-fluid" id="header">
            <div class="container">
                <nav class="navbar navbar-expand-sm navbar-light">
                    <div class="navbar-brand">
                        <a href="#"><img src="img/logo.png" alt=""></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="header__main">
                        <div class="header__search">
                            <img class="header__search__item" src="img/youtube.png" alt="">
                            <img class="header__search__item" src="img/FB.png" alt="">
                            <form action="" class="header__search__item header__search__item__form">
                                <input type="text" name="search" id="">
                            </form>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto header__nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">TRANG CHỦ <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">GIẢI PHÁP MARKETING</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">KIẾN THỨC</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">BÁO CÁO INSIGHTS </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">CASE STUDY</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">LIÊN HỆ</a>
                                </li>
                            </ul>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                    aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </nav>
                <div class="title__contact">
                    <p>GIẢI PHÁP MARKETING</p>
                </div>
                <div class="img__top__wapper">
                    <img class="img__top__category" src="img/solution-top.png" alt="Top Element">
                </div>
            </div>
        </header>
        <div class="page-main page-main-solution bg-categoty container-fluid">
            <section class="section solution">
                <div class="container">
                    <div class="solution__head">
                        <div class="solution__head__title title_main">GIẢI PHÁP</div>
                        <div class="solution__head__text">MARKETING Y - DƯỢC</div>
                        <div class="solution__head__desc">Lorem Ipsum is simply dummy text of the printing and
                            typesetting
                            industry.<br>
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
                    </div>
                    <div class="solution__content">
                        <div class="swiper-container swiper-container-solution">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <article class="card">
                                        <a class="thumbnail-effect-zoomin" href="#">
                                            <div class="thumbnail-inner">
                                                <img class="thumbnail-img" src="img/solution-1.png" alt="">
                                            </div>
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#">COVID-19: Phân tích người dùng trước, trong và sau giãn cách
                                                    xã hội</a>
                                            </h4>
                                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text</p>
                                        </div>
                                    </article>
                                    <article class="card card_2">
                                        <a class="thumbnail thumbnail-effect-zoomin" href="#">
                                            <div class="thumbnail-inner">
                                                <img class="thumbnail-img" src="img/solution-1.png" alt="">
                                            </div>
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#">COVID-19: Phân tích người dùng trước, trong và sau giãn cách
                                                    xã hội</a>
                                            </h4>
                                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text</p>
                                        </div>
                                    </article>
                                    <article class="card card_2">
                                        <a class="thumbnail thumbnail-effect-zoomin" href="#">
                                            <div class="thumbnail-inner">
                                                <img class="thumbnail-img" src="img/solution-1.png" alt="">
                                            </div>
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#">COVID-19: Phân tích người dùng trước, trong và sau giãn cách
                                                    xã hội</a>
                                            </h4>
                                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="swiper-slide">
                                    <article class="card">
                                        <a class="thumbnail-effect-zoomin" href="#">
                                            <div class="thumbnail-inner">
                                                <img class="thumbnail-img" src="img/solution-2.png" alt="">
                                            </div>
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#">COVID-19: Phân tích người dùng trước, trong và sau giãn cách
                                                    xã hội</a>
                                            </h4>
                                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text</p>
                                        </div>
                                    </article>
                                    <article class="card card_2">
                                        <a class="thumbnail thumbnail-effect-zoomin" href="#">
                                            <div class="thumbnail-inner">
                                                <img class="thumbnail-img" src="img/solution-2.png" alt="">
                                            </div>
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#">COVID-19: Phân tích người dùng trước, trong và sau giãn cách
                                                    xã hội</a>
                                            </h4>
                                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text</p>
                                        </div>
                                    </article>
                                    <article class="card card_2">
                                        <a class="thumbnail thumbnail-effect-zoomin" href="#">
                                            <div class="thumbnail-inner">
                                                <img class="thumbnail-img" src="img/solution-2.png" alt="">
                                            </div>
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#">COVID-19: Phân tích người dùng trước, trong và sau giãn cách
                                                    xã hội</a>
                                            </h4>
                                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="swiper-slide">
                                    <article class="card">
                                        <a class="thumbnail-effect-zoomin" href="#">
                                            <div class="thumbnail-inner">
                                                <img class="thumbnail-img" src="img/solution-3.png" alt="">
                                            </div>
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#">COVID-19: Phân tích người dùng trước, trong và sau giãn cách
                                                    xã hội</a>
                                            </h4>
                                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text</p>
                                        </div>
                                    </article>
                                    <article class="card card_2">
                                        <a class="thumbnail thumbnail-effect-zoomin" href="#">
                                            <div class="thumbnail-inner">
                                                <img class="thumbnail-img" src="img/solution-3.png" alt="">
                                            </div>
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#">COVID-19: Phân tích người dùng trước, trong và sau giãn cách
                                                    xã hội</a>
                                            </h4>
                                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text</p>
                                        </div>
                                    </article>
                                    <article class="card card_2">
                                        <a class="thumbnail thumbnail-effect-zoomin" href="#">
                                            <div class="thumbnail-inner">
                                                <img class="thumbnail-img" src="img/solution-3.png" alt="">
                                            </div>
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#">COVID-19: Phân tích người dùng trước, trong và sau giãn cách
                                                    xã hội</a>
                                            </h4>
                                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="swiper-slide">
                                    <article class="card">
                                        <a class="thumbnail-effect-zoomin" href="#">
                                            <div class="thumbnail-inner">
                                                <img class="thumbnail-img" src="img/solution-1.png" alt="">
                                            </div>
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#">COVID-19: Phân tích người dùng trước, trong và sau giãn cách
                                                    xã hội</a>
                                            </h4>
                                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text</p>
                                        </div>
                                    </article>
                                    <article class="card card_2">
                                        <a class="thumbnail thumbnail-effect-zoomin" href="#">
                                            <div class="thumbnail-inner">
                                                <img class="thumbnail-img" src="img/solution-1.png" alt="">
                                            </div>
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#">COVID-19: Phân tích người dùng trước, trong và sau giãn cách
                                                    xã hội</a>
                                            </h4>
                                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text</p>
                                        </div>
                                    </article>
                                    <article class="card card_2">
                                        <a class="thumbnail thumbnail-effect-zoomin" href="#">
                                            <div class="thumbnail-inner">
                                                <img class="thumbnail-img" src="img/solution-1.png" alt="">
                                            </div>
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#">COVID-19: Phân tích người dùng trước, trong và sau giãn cách
                                                    xã hội</a>
                                            </h4>
                                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="swiper-slide">
                                    <article class="card">
                                        <a class="thumbnail-effect-zoomin" href="#">
                                            <div class="thumbnail-inner">
                                                <img class="thumbnail-img" src="img/solution-1.png" alt="">
                                            </div>
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#">COVID-19: Phân tích người dùng trước, trong và sau giãn cách
                                                    xã hội</a>
                                            </h4>
                                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text</p>
                                        </div>
                                    </article>
                                    <article class="card card_2">
                                        <a class="thumbnail thumbnail-effect-zoomin" href="#">
                                            <div class="thumbnail-inner">
                                                <img class="thumbnail-img" src="img/solution-1.png" alt="">
                                            </div>
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#">COVID-19: Phân tích người dùng trước, trong và sau giãn cách
                                                    xã hội</a>
                                            </h4>
                                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text</p>
                                        </div>
                                    </article>
                                    <article class="card card_2">
                                        <a class="thumbnail thumbnail-effect-zoomin" href="#">
                                            <div class="thumbnail-inner">
                                                <img class="thumbnail-img" src="img/solution-1.png" alt="">
                                            </div>
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#">COVID-19: Phân tích người dùng trước, trong và sau giãn cách
                                                    xã hội</a>
                                            </h4>
                                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text</p>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>

                    </div>
                    <div class="btn__xemthem">
                        <button type="button" class="btn">Xem thêm</button>
                    </div>
                    <div class="img__line">
                        <img src="img/line-1.png" alt="">
                    </div>
                </div>
            </section>
            <section class="section doi_tac">
                <div class="container">
                    <div class="doi_tac__title title_main">ĐỐI TÁC CỦA PARMAKETING</div>
                    <div class="row justify-content-between">
                        <div class="col-lg-4 col-md-6">
                            <div class="brand-wapper">
                                <div class="brand-item">
                                    <a href=""><img src="img/traphaco.png" alt=""></a>
                                </div>
                            </div>            
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="brand-wapper">
                                <div class="brand-item">
                                    <a href=""><img src="img/dk-pharma.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="brand-wapper">
                                <div class="brand-item">
                                    <a href=""><img src="img/dhg-pharma.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="brand-wapper">
                                <div class="brand-item">
                                    <a href=""><img src="img/green-pharma.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="brand-wapper">
                                <div class="brand-item">
                                    <a href=""><img src="img/hai.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="brand-wapper">
                                <div class="brand-item">
                                    <a href=""><img src="img/nafaco.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class="footer container-fluid" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-5  footer__contact">
                        <div class="footer__logo">
                            <img src="img/logo2.png" alt="logo">
                        </div>
                        <h7>Our Solutions - Your Success</h7>
                        <ul class="footer__contact__detail">
                            <li class="footer__contact__detail__add">Tầng 20, Center Building Hapulico Complex, Số 1
                                Nguyễn Huy Tưởng, Thanh Xuân, Hà Nội</li>
                            <li class="footer__contact__detail__email">Email: Parmaketing@admicro.vn</li>
                            <li class="footer__contact__detail__phone">Hotline: 0983134234</li>
                        </ul>
                        <div class="footer__contact__icon">
                            <img src="img/FB.png" alt="Facebook">
                            <img src="img/youtube.png" alt="Youtube">
                            <img src="img/skype.png" alt="Skype">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 footer__category">
                        <h4 class="footer__category__title">Danh mục</h4>
                        <ul class="footer__category__item">
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">Giải pháp marketing</a></li>
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">Kiến thức</a></li>
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">Báo cáo Insights</a></li>
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">Case Study</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4 footer__face">
                        <h4>Chúng tôi trên Facebook</h4>
                        <div>
                            <img src="img/popup fb.png" alt="Facebook">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/vendor/swiper.min.js"></script>
    <script src="js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="js/vendor/photoswipe.min.js"></script>
    <script src="js/vendor/photoswipe-ui-default.min.js"></script>
    <script src="js/vendor/jquery.inputmask.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>