<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Parma Marketing</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vendor/modernizr.custom.js"></script>
    <script src="js/vendor/feather.min.js"></script>
</head>

<body>
    <div class="page page-home">
        <header class="header container-fluid" id="header">
            <div class="container">
                <nav class="navbar navbar-expand-sm navbar-light">
                    <a class="navbar-brand" href="#"><img src="img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-3 header__search">
                                <img class="header__search__item" src="img/youtube.png" alt="">
                                <img class="header__search__item" src="img/FB.png" alt="">
                                <form action="" class="header__search__item header__search__item__form">
                                    <input type="text" name="search" id="">
                                </form>
                            </div>
                        </div>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">TRANG CHỦ <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">GIẢI PHÁP MARKETING</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">KIẾN THỨC</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">BÁO CÁO INSIGHTS </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">CASE STUDY</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">LIÊN HỆ</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

        </header>
        <div class="page-main">
            <section class="section section-content-info">
                <h1><span>PHAR</span><span>MARKETING</span></h1>
                <h3>GIẢI PHÁP MARKETING Y DƯỢC</h3>
                <a href="">FIND OUR MORE</a>
            </section>
            <section class="section section-usp">
                <h2>USP</h2>
                <h2>CỦA PHARMAKETING</h2>
            </section>
            <section class="section section-you-need"></section>
            <section class="section section-solution"></section>
            <section class="section section-knowledge"></section>
            <section class="section section-report"></section>
            <section class="section section-case-study"></section>
        </div>
        <footer class="footer container-fluid" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-5  footer__contact">
                        <div class="footer__logo">
                            <img src="img/logo2.png" alt="logo">
                        </div>
                        <h7>Our Solutions - Your Success</h7>
                        <ul class="footer__contact__detail">
                            <li class="footer__contact__detail__add">Tầng 20, Center Building Hapulico Complex, Số 1
                                Nguyễn Huy Tưởng, Thanh Xuân, Hà Nội</li>
                            <li class="footer__contact__detail__email">Email: Parmaketing@admicro.vn</li>
                            <li class="footer__contact__detail__phone">Hotline: 0983134234</li>
                        </ul>
                        <div class="footer__contact__icon">
                            <img src="img/FB.png" alt="Facebook">
                            <img src="img/youtube.png" alt="Youtube">
                            <img src="img/skype.png" alt="Skype">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 footer__category">
                        <h4 class="footer__category__title">Danh mục</h4>
                        <ul class="footer__category__item">
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">Giải pháp marketing</a></li>
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">Kiến thức</a></li>
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">Báo cáo Insights</a></li>
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">Case Study</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4 footer__face">
                        <h4>Chúng tôi trên Facebook</h4>
                        <div>
                            <img src="img/popup fb.png" alt="Facebook">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/vendor/swiper.min.js"></script>
    <script src="js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="js/vendor/photoswipe.min.js"></script>
    <script src="js/vendor/photoswipe-ui-default.min.js"></script>
    <script src="js/vendor/jquery.inputmask.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>