@font-face {
    font-family: NeoSansIntel;
    src: url('../font/UTM-Neo-Sans-Intel.ttf');
}
@font-face {
    font-family: SVNGilroy;
    src: url('../font/SVN-Gilroy.otf');
}
body {
    font-family: NeoSansIntel;
    scroll-behavior: smooth;
}

.page-main-home {
    background-image: url(../img/bg-an1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 40%;
}

.page-main-contact {
    background-image: url(../img/lien-he-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 70%;
}

.page-main-solution {
    margin-top: 50px;
}

.bg-categoty {
    background-image: url(../img/giai-phap-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% -48%;
}

.header {
    background-image: url(../img/ellipse_4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 13px;
}
.header .navbar-toggler {
    padding: 0.25rem 0.5rem;
    margin-top: 10px;
}
.header__search {
    display: flex;
    position: absolute;
    top: 16px;
    right: 0px;
    width: 300px;
    justify-content: space-between;
}
.header__search a:hover img, .header__search a:focus img {
    scale: 1.1;
    -webkit-transform: scale(1.1);
}
.header__search .header-search-toggle {
    display: none;
}
.header__search .dropdown-menu {
    width: 86vw;
    top: 115%;
    padding: 0px;
}
.header__search .dropdown-menu input {
    border: none;
}
.header__search .dropdown-menu .form-control {
    height: unset;
    padding: 2px 6px;
}
.header__search__item__form .input-icons {
    height: 20px;
    width: 220px;
    position: relative;
    top: 2px;
}
.header__search__item__form .input-icons img {
    position: absolute;
    right: 10px;
    top: 3px;
}
.header__search__item__form input {
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
}
.header .navbar {
    padding: 0;
}
.header .navbar-brand {
    padding: 0;
    margin: 0;
    padding-top: 30px;
}
.header .nav-item {
    font-size: 16px;
    font-weight: bold;
    font-family: NeoSansIntel;
}
.header .nav-item a:hover {
    color: white !important;
    text-decoration: underline;
}
.header .navbar-nav {
    justify-content: space-between;
    flex-grow: 1;
}
.header .navbar-nav li:first-child a {
    padding-left: 0px;
}
.header .navbar-nav li:last-child a {
    padding-right: 0px;
}
.header .nav-link {
    padding: 0;
    padding-top: 14px;
    color: black !important;
}
.header .collapse {
    margin-top: 51px;
    border-top: 1px solid black;
    margin-left: 40px;
}
.header .collapse .form-inline {
    display: none;
}
.header .img__top__wapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.header .img__top__wapper .img__top {
    padding-top: 4vw;
    width: 100%;
}
.header .img__top__wapper .img__top__contact {
    width: 50%;
    height: auto;
    padding-bottom: 6vh;
}
.header .img__top__wapper .img__top__category {
    width: 60%;
    height: auto;
    padding-bottom: 6vh;
}
.header .img__top__wapper .img__top__report {
    width: 60%;
    height: auto;
    padding-bottom: 2vh;
}
.header .title__contact {
    text-align: center;
    font-family: NeoSansIntel;
    font-size: 60px;
    font-weight: bold;
    color: white;
    padding-top: 25px;
    padding-bottom: 20px;
}

.content__info {
    margin-bottom: 80px;
    text-align: center;
}
.content__info__title {
    margin-top: 0.5rem;
    font-size: 80px;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: NeoSansIntel;
}
.content__info__title .phar {
    color: #f3a240;
}
.content__info__title .marketing {
    color: #77b243;
}
.content__info__giaiphap {
    font-size: 40px;
    font-family: NeoSansIntel;
}
.content__info__find {
    font-size: 24px;
    font-weight: bold;
    font-family: NeoSansIntel;
    color: #f3a240;
    position: relative;
}
.content__info__find::after {
    content: url(../img/rect.png);
    position: absolute;
    top: 0px;
    left: 37%;
    top: 23px;
}

.usp__title {
    font-size: 60px;
    font-weight: bold;
    font-family: SVNGilroy;
    text-align: center;
    color: #77b243;
}
.usp__title__sub {
    font-size: 30px;
    font-weight: lighter;
    font-family: SVNGilroy;
    text-align: center;
    color: #f79621;
    margin-bottom: 50px;
}
.usp__content__group .row:first-child {
    margin-bottom: 70px;
}
.usp__content__item__img {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.usp__content__item__text {
    font-family: NeoSansIntel;
    font-size: 16px;
    text-align: center;
    padding: 0px 32px;
}
.usp__content__item__text__title {
    font-size: 18px;
    color: #77b243;
    font-weight: bold;
}
.usp__content__item__text__content {
    padding-top: 6px;
    padding-bottom: 5px;
    font-family: inherit;
}
.usp__content__item__link {
    color: #77b243;
    font-weight: bold;
}
.usp__content__item__link::after {
    content: url(../img/rect_usp.png);
    position: relative;
    left: 15px;
    top: 2px;
}

.you__need {
    font-family: NeoSansIntel;
    font-weight: bold;
    margin-top: 120px;
    background-image: url("../img/you-need1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 680px;
    margin-bottom: 60px;
    position: relative;
}
.you__need__title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
}
.you__need__title__text {
    padding-top: 100px;
    position: relative;
    left: 19px;
}
.you__need__title__img {
    padding-top: 68px;
}
.you__need__title__img img {
    width: 90%;
}
.you__need__content__item {
    background-image: url("../img/you-need-rect.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 110px;
    margin: 30px 15px 0px 15px;
    text-align: center;
    font-size: 27px;
    color: #5d5d5d;
    padding: 30px 0px 20px 0px;
}
.you__need__lothuoc, .you__need__vienthuoc, .you__need__xanh {
    position: absolute;
}
.you__need__lothuoc img, .you__need__vienthuoc img, .you__need__xanh img {
    width: 90%;
}
.you__need__lothuoc {
    top: -142px;
    left: -83px;
}
.you__need__vienthuoc {
    top: -83px;
    right: -20px;
}
.you__need__xanh {
    bottom: 15px;
    right: -20px;
}

.solution {
    font-family: NeoSansIntel;
    position: relative;
}
.solution__head {
    text-align: center;
}
.solution__head__text {
    font-size: 40px;
    color: #f79621;
}
.solution__head__desc {
    font-size: 17px;
    color: #999999;
    padding-top: 20px;
}
.solution__content {
    margin-top: 90px;
}
.solution__content .card_2 {
    margin-top: 60px;
}
.solution > .container-fluid img {
    position: absolute;
}
.solution__sm1 {
    bottom: -73px;
    right: 0px;
}
.solution__sm2 {
    bottom: -73px;
    left: 0px;
}
.solution__sm3 {
    top: 600px;
    left: 90px;
}

.knowledge__title,
.report__title,
.case-study__title {
    text-align: center;
    margin-bottom: 70px;
}

.case-study {
    padding-bottom: 150px;
    position: relative;
}
.case-study > .container-fluid img {
    position: absolute;
    z-index: -1;
}
.case-study__sm1 {
    bottom: -16px;
    left: -15px;
}
.case-study__sm2 {
    bottom: -35px;
    right: -15px;
}

.report {
    position: relative;
}
.report > .container-fluid img {
    position: absolute;
}
.report__sm1 {
    top: -295px;
    right: -12px;
}
.report__sm2 {
    top: -406px;
    left: -12px;
}

.contact {
    text-align: center;
    padding-bottom: 100px;
}
.contact__title {
    font-size: 48px;
    font-weight: bold;
    color: #f6a441;
    padding-top: 80px;
    padding-bottom: 50px;
}
.contact input {
    height: 60px;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: none;
}
.contact textarea {
    height: 188px;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: none;
}
.contact button {
    font-weight: bold;
    background-color: #f6a441;
    font-size: 18px;
    color: white;
    text-align: center;
    width: 100%;
}

.doi_tac {
    padding-bottom: 100px;
}
.doi_tac__title {
    text-align: center;
}
.doi_tac__content {
    margin-top: 40px;
}
.doi_tac .brand-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #89bc5c;
    height: 130px;
    overflow: hidden;
    border-bottom: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
}

.footer {
    min-height: 320px;
    background: linear-gradient(to right, #5265c1, #77bfd8);
    color: white;
}

.footer__logo {
    padding-top: 20px;
}

.footer__contact__detail {
    padding-inline-start: 0px;
    list-style: none;
    position: relative;
}

.footer__contact__detail li {
    padding-top: 20px;
    font-size: 13px;
    padding-left: 30px;
}

.footer__contact__icon {
    padding: 20px 0px;
}

.footer__category {
    padding-left: 30px;
}

.footer__category__title,
.footer__face {
    padding-top: 50px;
}

.footer__category__item {
    padding-inline-start: 0px;
    list-style: none;
    font-size: 20px;
    padding-top: 25px;
}

.footer__category__item li {
    padding-top: 10px;
}

.footer__category__item a {
    color: white;
}

.footer__contact::after {
    content: "";
    width: 1px;
    height: 225px;
    background-color: white;
    position: absolute;
    top: 55px;
    right: 0px;
}

.footer__category::after {
    content: "";
    width: 1px;
    height: 225px;
    background-color: white;
    position: absolute;
    top: 55px;
    right: 10px;
}

.footer__face div {
    margin-top: 18px;
}
.footer__face div img {
    width: 90%;
}

.footer__contact__detail__add::before {
    content: url("../img/house.png");
    position: absolute;
    left: 0px;
}

.footer__contact__detail__email::before {
    content: url("../img/mail.png");
    position: absolute;
    left: 0px;
}

.footer__contact__detail__phone::before {
    content: url("../img/phone.png");
    position: absolute;
    left: 0px;
}

.thumbnail-img {
    max-width: 100%;
    width: 100%;
    height: auto;
    transition: all 0.2s ease-in-out;
}

.card-body {
    font-family: NeoSansIntel;
    padding: 0;
    margin-top: 22px;
}
.card-body .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.card-body .card-title a {
    color: #f6a441;
}
.card-body .card-text {
    font-size: 14px;
}

.thumbnail-effect-zoomin:focus .thumbnail-img,
.thumbnail-effect-zoomin:hover .thumbnail-img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.thumbnail-effect-zoomin .thumbnail-inner {
    -webkit-transform: translate(0);
    transform: translate(0);
    overflow: hidden;
}

.card {
    border: none;
}

.swiper-pagination {
    margin-top: 35px;
    margin-bottom: 40px;
    position: relative;
    bottom: 0px !important;
}
.swiper-pagination .swiper-pagination-bullet {
    width: 17px;
    height: 17px;
    background: none;
    opacity: 1;
    border: 1px solid #71b435;
}
.swiper-pagination .swiper-pagination-bullet-active {
    background: #71b435;
}

.btn__xemthem {
    display: flex;
    justify-content: center;
}
.btn__xemthem button {
    width: 190px;
    height: 48px;
    border-radius: 10px;
    color: white;
    background-color: #71b435;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    padding-bottom: 10px;
}

.title_main {
    font-size: 60px;
    font-weight: bold;
    color: #77b243;
}

.img__line {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 30px;
}
.img__line img {
    width: 60%;
}

.flex-column {
    flex-direction: column !important;
}

.pdl-0 {
    padding-left: 0px !important;
}

.pdr-0 {
    padding-right: 0px !important;
}

.featured-post {
    margin: 60px 0px 40px 0px;
}
.featured-post .card {
    border-radius: 0;
}
.featured-post .row {
    flex-grow: 1;
}
.featured-post .row > [class*=col-] {
    display: flex;
}
.featured-post .row > [class*=col-] > .card {
    flex-grow: 1;
}
.featured-post .card-post {
    overflow: hidden;
}
.featured-post .card-post .card-title a {
    transition: all 0.2s ease-in-out;
}
.featured-post .card-post:focus .card-img, .featured-post .card-post:hover .card-img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.featured-post .card-post .card-body::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    min-height: 7.9375rem;
    background: linear-gradient(180deg, transparent, #9fb9cd, #99cbe3);
    opacity: 0.7;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.featured-post-item-1 .card-title {
    padding: 0px 32px;
    padding-bottom: 13px;
}
.featured-post-item-1 .card-title a {
    font-size: 30px;
}
.featured-post-item-1 .card-img {
    padding-top: 98.25328%;
    border-radius: 0;
}

.featured-post-item-2 .card-title {
    padding: 0 20px;
    padding-bottom: 8px;
}
.featured-post-item-2 .card-title a {
    font-size: 25px;
}

.featured-post-item-3 .card-title,
.featured-post-item-4 .card-title {
    padding: 0 10px;
    padding-bottom: 5px;
}
.featured-post-item-3 .card-title a,
.featured-post-item-4 .card-title a {
    font-size: 18px;
}

.card-post .card-img-bg {
    flex-grow: 1;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-post .card-img-overlay {
    display: flex;
    align-items: flex-end;
    padding: 0;
    pointer-events: none;
}
.card-post .card-body {
    position: relative;
    z-index: 0;
    min-width: 0;
    flex: 1 1 auto;
    pointer-events: auto;
}
.card-post .card-body .card-title a {
    color: #000;
}

.banner img {
    width: 100%;
}

.post-sumary article .col-md-8 {
    padding-right: 3vw;
}
.post-sumary article .card-body {
    margin-top: 0px;
}
.post-sumary article .card-body > a {
    float: right;
    color: black;
    font-weight: bold;
}
.post-sumary article .card-body > a::after {
    content: url("../img/rect-cate.png");
    position: relative;
    bottom: -1px;
    right: -5px;
}
.post-sumary .btn__xemthem {
    padding-bottom: 80px;
}

.post-sumary .subcribe,
.page-main-post .subcribe {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.post-sumary .subcribe .title-mail,
.page-main-post .subcribe .title-mail {
    font-size: 22px;
    font-weight: bold;
}
.post-sumary .subcribe .mail-subc-logo,
.page-main-post .subcribe .mail-subc-logo {
    margin: 15px 0;
}
.post-sumary .subcribe .mail-subc-logo img,
.page-main-post .subcribe .mail-subc-logo img {
    width: 100%;
}
.post-sumary .subcribe .input-group input,
.page-main-post .subcribe .input-group input {
    border-radius: 25px;
    height: 35px;
}
.post-sumary .subcribe .input-group img,
.page-main-post .subcribe .input-group img {
    position: absolute;
    top: 1px;
    right: 0px;
}

.page-main-post {
    margin-top: 70px;
}
.page-main-post .row > .col-md-9 {
    padding-right: 7vw;
}
.page-main-post .post-title {
    color: #f6a441;
    font-size: 32px;
    font-weight: bold;
}
.page-main-post .share-fb {
    padding-top: 15px;
    display: flex;
}
.page-main-post .line-dot {
    border-top: 1px dotted black;
}
.page-main-post .line-dot + .share-fb {
    padding-top: 0;
}
.page-main-post .content-post {
    padding-bottom: 20px;
}
.page-main-post .content-post p {
    padding: 10px 0px;
}
.page-main-post .content-post img {
    width: 100%;
}
.page-main-post .post-relate {
    padding-bottom: 50px;
}
.page-main-post .post-relate-title {
    font-size: 21px;
    font-weight: bold;
}
.page-main-post .tinlienquan {
    margin-top: 50px;
}
.page-main-post .tinlienquan a {
    color: black;
}
.page-main-post .tinlienquan a .row {
    padding: 10px 0px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #e9e9e9;
}
.page-main-post .tinlienquan-title {
    background-color: #f6a441;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0px;
}
.page-main-post .tinlienquan .box-img {
    padding: 10px 10px 0 10px;
}
.page-main-post .tinlienquan .box-img img {
    width: 100%;
}
.page-main-post .tinlienquan .box-text {
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .featured-post .row {
        margin-left: -0.65625vw;
        margin-right: -0.65625vw;
    }

    .featured-post .row > [class*=col-] {
        padding-left: 0.65625vw;
        padding-right: 0.65625vw;
    }

    .featured-post-item {
        margin-bottom: 1.3vw;
    }
}
@media only screen and (max-width: 1900px) {
    .img__sm {
        display: none;
    }
}
@media only screen and (max-width: 1440px) {
    .page-main {
        background: none;
    }
}
@media only screen and (max-width: 1024px) {
    .content__info__title {
        font-size: 60px;
    }

    .content__info__giaiphap,
    .usp__title__sub,
    .solution__head__text {
        font-size: 35px;
    }
    .you__need__content__item {
        font-size: 23px;
    }
    .title_main {
        font-size: 50px;
        font-weight: bold;
        color: #77b243;
    }

    .header .title__contact {
        font-size: 50px;
    }

    .featured-post-item-1 .card-title a {
        font-size: 25px;
    }

    .featured-post-item-2 .card-title a {
        font-size: 22px;
    }
}
@media only screen and (max-width: 768px) {
    .header .navbar-brand {
        width: 130px;
    }
    .header .navbar-brand img {
        width: 100%;
    }
    .header .collapse {
        margin-left: 10px;
    }
    .header .nav-item {
        font-size: 13px;
    }
    .header .nav-link {
        padding-right: 0px;
    }

    .content__info__title {
        font-size: 45px;
    }

    .content__info__giaiphap,
    .usp__title__sub,
    .solution__head__text {
        font-size: 28px;
    }

    .content__info__find {
        font-size: 20px;
    }
    .you__need__vienthuoc, .you__need__lothuoc {
        display: none;
    }

    .brand-wapper {
        width: 100%;
    }

    .banner-wapper {
        display: none;
    }

    .footer__contact::after {
        display: none;
    }

    .footer__category::after {
        display: none;
    }

    .footer__face,
    .footer__category__title {
        padding-top: 0;
    }

    .swiper-pagination .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
    }

    .header .title__contact {
        font-size: 40px;
    }

    .title_main {
        font-size: 40px;
        font-weight: bold;
        color: #77b243;
    }

    .featured-post-item-1 .card-title {
        padding: 0px 11px;
        padding-bottom: 4px;
    }

    .featured-post-item-2 .card-title {
        padding: 0 8px;
        padding-bottom: 0px;
    }

    .featured-post-item-3 .card-title, .featured-post-item-4 .card-title {
        padding: 0 5px;
        padding-bottom: 0px;
    }

    .page-main-post .post-title {
        font-size: 28px;
    }
}
@media (max-width: 760px) {
    .navbar .navbar-collapse {
        margin-top: 0px;
        margin-left: 0px;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        min-height: auto;
        max-height: 50vh;
        overflow-y: auto;
        background: linear-gradient(to right, #5265c1, #77bfd8);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        -webkit-overflow-scrolling: touch;
        border: none;
        padding: 0px 16px;
        padding-bottom: 15px;
    }
}
@media only screen and (max-width: 425px) {
    .header .navbar-brand {
        width: 100px;
        padding-top: 8px;
        position: absolute;
        left: 36%;
    }
    .header .navbar-brand img {
        width: 100%;
    }
    .header__search {
        top: 20px;
        width: 90px;
    }
    .header__search .header-search-toggle {
        display: unset;
    }
    .header__search__item__form {
        display: none;
    }
    .header .img__top__wapper .img__top {
        padding-top: 4vh;
    }
    .you__need {
        min-height: 350px;
    }
    .you__need__title__text {
        font-size: 25px;
        padding-top: 30px;
        left: 0;
    }
    .you__need__title__img {
        display: none;
    }
    .you__need__content__item {
        padding: 15px 0px 0px 0px;
        min-height: 60px;
        font-size: 14px;
    }
    .content__info__title {
        font-size: 35px;
    }
    .content__info__giaiphap,
    .usp__title__sub,
    .solution__head__text {
        font-size: 25px;
    }
    .content__info__find {
        font-size: 18px;
    }
    .solution__head__text {
        font-size: 30px;
    }
    .usp__content__group .row:first-child {
        margin-bottom: 0;
    }
    .usp__content__group .row .col-md-4 {
        padding-top: 20px;
    }
    .header .title__contact {
        font-size: 30px;
    }
    .btn__xemthem .btn {
        width: 140px;
        height: 40px;
        padding-bottom: 1px;
        font-size: 20px;
    }
    .title_main {
        font-size: 30px;
        font-weight: bold;
        color: #77b243;
    }
    .doi_tac .brand-item {
        height: 80px;
    }
    .doi_tac .brand-item img {
        width: 100%;
    }
    .you__need__xanh {
        display: none;
    }
}
@media only screen and (max-width: 375px) {
    .content__info__title,
    .usp__title {
        font-size: 37px;
    }

    .content__info__giaiphap,
    .usp__title__sub {
        font-size: 21px;
    }

    .you__need__title__text {
        font-size: 22px;
        padding-top: 40px;
        left: 0px;
    }
    .you__need__title__img {
        display: none;
    }
    .you__need__content__item {
        margin: 27px 6px 0px 6px
    }
    .you__need__content__row1 {
        margin-top: 56px;
    }

    .page-main-post .post-title {
        font-size: 24px;
    }

    .doi_tac__title {
        font-size: 20px;
    }
}
@media only screen and (max-width: 320px) {
    .header .navbar-brand {
        left: 25%;
    }
    .header__search {
        right: -15px;
    }

    .footer__face img {
        width: 100%;
    }
    .you__need__content__item {
        margin: 25px 6px 0px 4px;
        padding: 11px 0px 2px 0px;
        font-size: 12px;
        min-height: 45px;
    }
    .you__need {
        min-height: 300px;
    }
}

/*# sourceMappingURL=style.css.map */
