
@font-face {
    font-family: NeoSansIntel;
    src: url(../fonts/UTM-Neo-Sans-Intel.ttf);
  }
  @font-face {
    font-family: SVNGilroy;
    src: url(../fonts/SVN-Gilroy.otf);
  }
//Header
.header{
    background-image: url(../img/top_element.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 755px;
    font-size: 13px;
    &__search{
        display: flex;
        justify-content:flex-end;
        border-bottom:1px solid black ;
        padding-bottom: 18px;
        padding-top: 16px;
    }
    &__search__item{
        padding-left: 25px;
        &__form {
            padding-top: 6px;
            input{
                border-radius: 10px;
                border: none;
                height: 20px;
                width: 220px;
            }
        }
    }
    &__main{
        flex-grow: 1;
        margin-left: 50px;
    }
    .navbar{
        padding: 0;
    }
    .navbar-brand{
        padding: 0;
        margin: 0;
        padding-top: 30px;
    }
    .nav-item{
        font-size: 16px;
        font-weight: bold;
        font-family: NeoSansIntel;
        a:hover{
            color: white !important;
            text-decoration: underline;
        }
    }
    .navbar-nav{
        justify-content:space-between;
        flex-grow: 1;
        li:first-child a{
            padding-left: 0px;
        }
        li:last-child a{
            padding-right: 0px;
        }
    }
    .nav-link{
        padding: 0;
        padding-top: 14px;
        color: black !important;
    }
    .collapse{
        .form-inline{
            display: none;
        }
    }
    .img__top__grid{
        padding-top: 95px;
        display: flex;
        .img__top__wapper{
            width: 100%;
            flex-grow: 1;
            .img__top{
                width: 100%;
                height:auto;
            }
        }
    }
}

//End header
//Content Info
.content__info{
    margin-bottom: 90px;
    text-align: center;
    &__title{
        font-size: 110px;
        font-weight: bold;
        font-family: NeoSansIntel;
        .phar{
            color: #f3a240;
        }
        .marketing{
            color:#77b243;
        }
    }
    &__giaiphap{
        font-size: 41px;
        font-family: NeoSansIntel;
    }
    &__find{
        font-size: 24px;
        font-weight: bold;
        font-family: NeoSansIntel;
        color: #f3a240;
        position: relative;
    }
    &__find::after{
        content: url(../img/rect.png);
        position: absolute;
        top: 0px;
        left: 70px;
        top: 23px;
    }
}
//End content info
//Usp
.usp{
    &__title{
        font-size: 70px;
        font-weight: bold;
        font-family: SVNGilroy;
        text-align: center;
        color: #77b243;
    }
    &__title__sub{
        font-size: 48px;
        font-weight: lighter;
        font-family: SVNGilroy;
        text-align: center;
        color: #f79621;
        margin-bottom: 70px;
    }
    &__content__group{
        .row:first-child{
            margin-bottom: 70px;
        }
    }
    &__content__item{
        &__img{
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
        }
        &__text{
            font-family: NeoSansIntel;
            font-size: 16px;
            text-align: center;
            padding: 0px 32px;
            &__title{
                font-size: 18px;
                color: #77b243;
                font-weight: bold;
            }
            &__content{
                padding-top: 6px;
                padding-bottom: 5px;
                font-family: inherit;
            }
        }
        &__link{
            color: #77b243;
            font-weight: bold;
            &::after{
                content: url(../img/rect_usp.png);
                position: relative;
                left: 15px;
                top: 2px;
            }
        }
    }

}
//End Usp
//Hỏi đáp
.you__need{
    font-family: NeoSansIntel;
    font-weight: bold;
    margin-top: 120px;
    background-image: url("../img/you-need1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 680px;
    margin-bottom: 90px;
    position: relative;
    &__title{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 40px;
        &__text{
            padding-top: 100px;
            position: relative;
            left: 19px;
        }
        &__img{
            padding-top: 68px;
            img{
                width: 90%;
            }
        }
    }
    &__content{
       &__row1{
            margin-top: 30px;
        }
        &__row2{
            margin-top: 40px;
        }
        &__item{
            background-image: url("../img/you-need-rect.png");
            background-repeat: no-repeat;
            background-size: contain;
            min-height: 110px;
            margin: 0px 15px;
            text-align: center;
            font-size: 20px;
            color: #5d5d5d;
            padding: 20px 0px;
            p{
                margin-bottom: 0px;
            }
        }
    }
    &__lothuoc, &__vienthuoc, &__xanh{
        position: absolute;
        img{
            width: 90%;
        }
    }
    &__lothuoc{
        top: -142px;
        left: -83px;
    }
    &__vienthuoc{
        top: -83px;
        right: -20px;
    }
    &__xanh{
        bottom: 15px;
        right: -20px;
    }
}
//End hỏi đáp
//Solution
.solution{
    font-family: NeoSansIntel;
    &__head{
        text-align: center;
        &__title{
            font-size: 70px;
            font-weight: bold;
            color: #77b243;
        }
        &__text{
            font-size: 48px;
            color: #f79621;
        }
        &__desc{
            font-size: 17px;
            color: #999999;
            padding-top: 20px;
        }
    }
    &__content{
        margin-top: 90px;
        .card_2{
            margin-top: 60px;
        }
    }
    .swiper-pagination{
        margin-top: 40px;
    }
}
//End solution
// Footer
.footer{
    min-height: 320px;
    background: linear-gradient(to right,#5265c1,#77bfd8);
    color: white;
}
.footer__logo{
    padding-top: 20px;
}
.footer__contact__detail{
    padding-inline-start: 0px;
    list-style: none;
    position: relative;
}
.footer__contact__detail li{
    padding-top: 20px;
    font-size: 13px;
    padding-left: 30px;
}
.footer__contact__icon{
    padding: 20px 0px;
}
.footer__category{
    padding-left: 30px;
}
.footer__category__title,.footer__face{
    padding-top: 50px;
}
.footer__category__item{
    padding-inline-start: 0px;
    list-style: none;
    font-size: 20px;
    padding-top: 25px;
}
.footer__category__item li{ 
    padding-top: 10px;
}
.footer__category__item a{
    color: white;
}
.footer__contact::after{
    content: "";
    width: 1px;
    height: 225px;
    background-color: white;
    position: absolute;
    top : 55px;
    right: 0px;
}
.footer__category::after{
    content: "";
    width: 1px;
    height: 225px;
    background-color: white;
    position: absolute;
    top : 55px;
    right: 10px;
}
.footer__face div{
    margin-top: 18px;
}
.footer__contact__detail__add::before{
    content: url('../img/house.png');
    position: absolute;
    left: 0px;
}
.footer__contact__detail__email::before{
    content: url('../img/mail.png');
    position: absolute;
    left: 0px;
}
.footer__contact__detail__phone::before{
    content: url('../img/phone.png');
    position: absolute;
    left: 0px;
}
// End footer
@media only screen and (max-width: 1440px){
    .header{
        min-height: 570px;
    }
}
@media only screen and (max-width: 1024px){
    .header{
        min-height: 410px;
    }
    .content__info__title, .usp__title{
        font-size: 88px;
    }
    .content__info__giaiphap, .usp__title__sub{
        font-size: 35px;
    }
    .you__need{
        &__content__item{
            padding: 13px 0px;
        }
    }
}
@media only screen and (max-width: 768px){
    .header{
        min-height: 310px;
        .navbar-brand{
            width: 130px;
            img{
                width: 100%;
            }
        }
        &__main{
            margin-left: 10px;
        }
        .nav-item{
            font-size: 13px;
        }
        .nav-link{
            padding-right: 0px;
        }
        &__search{
            padding: 12px 0px;
        }
    }
    .content__info__title, .usp__title{
        font-size: 75px;
    }
    .content__info__giaiphap, .usp__title__sub{
        font-size: 30px;
    }
    .you__need{
        &__content__item{
            padding: 20px 0px;
        }
        &__vienthuoc, &__lothuoc{
            display: none;
        }
    }
    .footer__contact::after{
        display: none;
    }
    .footer__category::after{
        display: none;
    }
    .footer__face, .footer__category__title{
        padding-top: 0;
    }
}
@media only screen and (max-width: 425px){
    .header{
        min-height: 175px;
        .navbar-brand{
            width: 100px;
            padding-top: 8px;
            img{
                width: 100%;
            }
        }
        .collapse{
            .form-inline{
                display: flex;
            }
        }
        .navbar-toggler{
            position: absolute;
            top:0;
            right: 0;
        }
        
        &__search{
            display: none;
        }
        &__main{
            background: linear-gradient(to right,#5265c1,#77bfd8);
            margin-left: 0;
            flex-grow: 0;
        }
    }
    .you__need{
        &__title{
            &__text{
                font-size: 25px;
                padding-top: 68px;
            }
            &__img{
                padding-top: 44px;
                img{
                    width: 63%;
                }
            }
        }
        &__content__item{
            margin: 0px 60px;
        }
        &__content__row1{
            margin-top: 6px;
        }
        &__content__row2{
            margin-top: 0px;
        }
    }
    .content__info__title, .usp__title{
        font-size: 45px;
    }
    .content__info__giaiphap, .usp__title__sub{
        font-size: 25px;
    }
}
@media only screen and (max-width: 375px){
    .content__info__title, .usp__title{
        font-size: 37px;
    }
    .content__info__giaiphap, .usp__title__sub{
        font-size: 21px;
    }
    .you__need{
        &__title{
            &__text{
                font-size: 22px;
                padding-top: 22px;
                left: 0px;
            }
            &__img{
                display: none;
            }
        }
        &__content__item{
            margin: 0px 36px;
        }
        &__content__row1{
            margin-top: 56px;
        }
    }
}
@media only screen and (max-width: 320px){
    .header{
        min-height: 130px;
    }
    
    .footer__face img{
        width: 100%;
    }
}
.thumbnail-img{
    max-width: 100%;
    width: 100%;
    height: auto;
    transition: all .2s ease-in-out;
}
.card-body{
    font-family: NeoSansIntel;
    padding: 0;
    margin-top: 22px;
    .card-title{
        a{
            color: #f6a441;
        }
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .card-text{
        font-size: 14px;
    }
}
.thumbnail-effect-zoomin:focus .thumbnail-img, .thumbnail-effect-zoomin:hover .thumbnail-img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.thumbnail-effect-zoomin .thumbnail-inner {
    -webkit-transform: translate(0);
    transform: translate(0);
    overflow: hidden;
}